{% extends "header.html" %}
{% load static %}
{% block content %}
    <!-- Page Content -->

    <div class="jumbotron">

        <h1 class="display-4">About this project</h1>
        <p class="lead">Getting into a good primary school at a nearby location is top priority for most young couples
            with children in Singapore. In this project, we seek to create geographic information system in the form of
            a map-based app that will contain information about the location of kindergartens and primary schools which
            will help parents in the process of kindergarten and primary school selection.</p>
        <hr class="my-4">
{#        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>#}
        <a class="btn btn-primary btn-lg" href="/" role="button">Back</a>
    </div>
    <div class="container">
        <div class="row">
            <!-- Team Member 1 -->
            <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-0 shadow">

                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Ren Jiawei</h5>
                        <div class="card-text text-black-50">Web Developer</div>
                    </div>
                </div>
            </div>
            <!-- Team Member 2 -->
            <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-0 shadow">

                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Sun Pu</h5>
                        <div class="card-text text-black-50">Web Developer</div>
                    </div>
                </div>
            </div>
            <!-- Team Member 3 -->
            <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-0 shadow">

                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Zhang Junzhi</h5>
                        <div class="card-text text-black-50">Web Developer</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-md-12 mb-12">
                <div class="card border-0 shadow">

                    <div class="card-body">
                        <h5 class="card-title mb-0 text-center">Licenses</h5>
                        <div class="card-text">
                            <ul>
                                <li>Leaflet.AwesomeMarkers and colored markers are licensed under the MIT License -
                                    <a href="https://github.com/lvoogdt/Leaflet.awesome-markersl">https://github.com/lvoogdt/Leaflet.awesome-markers</a>.
                                </li>
                                <li>
                                    Font Awesome: <a href="http://fortawesome.github.io/Font-Awesome/license/">http://fortawesome.github.io/Font-Awesome/license/</a>
                                </li>
                                <li>Bootstrap: <a href="http://getbootstrap.com/">http://getbootstrap.com/</a></li>
                                <li>jQuery: <a href="https://jquery.com">https://jquery.com/</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

    </div>
    <!-- /.container -->

{% endblock %}

