<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #563d7c;">
    <a class="navbar-brand" href="/">SGSchools</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    {% if displaySearchBar %}
    <div class="input-container">
        <input id="search-input" class="input-field" onblur="this.placeholder = 'Enter school, address or postal code'"/>
        <i class="fa fa-location-arrow icon" onclick="locateUser()"></i>
    </div>
    {% endif %}

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/about">About<span class="sr-only">(current)</span></a>
        </div>
    </div>
</nav>