<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
{% include "header.html" with title=school.name %}
{% load static %}
{% block content %}

<div class="container my-3">
    <h5 class="card-title">{{school.name}}</h5>
    <p class="card-text">Address: {{school.address}}, {{school.postal_code}}</p>

    {% if school.phone_number %}
    <p class="card-text">Phone number: <a href="tel:{{school.phone_number}}">{{school.phone_number}}</a></p>
    {% endif %}

    {% if school.email_address %}
    <p class="card-text">Email: <a href="mailto:{{school.email_address}}">{{school.email_address}}</a></p>
    {% endif %}

    {% if school.website_url %}
    <a href="{{school.website_url}}" class="btn btn-dark">Visit website</a>
    {% endif %}
</div>

{% endblock %}