{% include "header.html" %}
{% load static %}
{% block content %}

<script>
    var g_all_schools = ({{ all_school_list_serialized|safe }})['features'];
</script>

<div class="page-wrapper">
    <!-- Natalya: included header inside page-wrapper so that can fit header + body into screen -->
    {% include "navbar.html" %}

    <div class="map-container">
        <div id="main-map"></div>
    </div>

    <script src="{% static 'schools/js/init_map.js' %}"></script>
    <script src="{% static 'schools/js/map_function.js' %}"></script>
</div>

{% endblock %}