{% extends "header.html" %}
{% load static %}
{% block content %}
    <div class="page-wrapper page">
        <!-------Add By Kiwi-------------->
        <div id="search">
            <div id="search-title"><h5>Find Buildings Near a School</h5></div>
            <div id="search-box" class="search-form-control">
                <input id="search-input" type="text" placeholder="Search School"
                       onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search School'"
                       class="input-box">
            </div>
            <div id="search-type-container">

                <input type="radio" name="search-type" class="search-type" value="school" id="checkbox1"
                       checked="true">
                <label for="checkbox1" class="search-type">School</label>

                <input type="radio" name="search-type" class="search-type" value="kindergarten" id="checkbox2">
                <label for="checkbox2" class="search-type">Kindergarten</label>


            </div>

            <div id="radio-container">

                {% for school in primary_school_list %}
                    <div class="radio-beauty-container school" name="{{ school }}">
                        <div class="radio-row">
                            <label class="radio-label">
                                <span class="radio-name">{{ school }}</span>
                                <input type="radio" name="schoolOnSelect" value="{{ school.id }}"
                                       hidden/>
                                <span class="radio-beauty"></span>
                            </label>

                        </div>
                    </div>

                {% endfor %}

                {% for kindergarten in kindergarten_list %}
                    <div class="radio-beauty-container kindergarten" name="{{ kindergarten }}">
                        <div class="radio-row">
                            <label class="radio-label">
                                <span class="radio-name">{{ kindergarten }}</span>
                                <input type="radio" name="schoolOnSelect" value="{{ kindergarten.id }}"
                                       hidden/>
                                <span class="radio-beauty"></span>
                            </label>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <!-------End Add By Kiwi-------------->

        <div class="map-container page">
            <div id="main-map"></div>
        </div>
    </div>

    <script src="{% static "schools/js/init_map.js" %}"></script>
    <script src="{% static "schools/js/searchbox_function.js" %}"></script>
    <script src="{% static "schools/js/map_function.js" %}"></script>

    {#    <script type="text/javascript">#}
    {#        var schools_json = {{ schools_list|safe }};#}
    {#        var schools_list = schools_json.features; //schools_json from Django view#}
    {#        show_schools(schools_list);#}
    {#    </script>#}

{% endblock %}

