{% extends "header.html" %}
{% load static %}
{% block content %}
    <div class="page-wrapper page">
        <div class="map-container page">
            <div id="main-map"></div>
        </div>
    </div>
    <script src="{% static  'schools/js/init_map.js' %}"></script>
    <script type="text/javascript">
        //create markers group
        var markers = L.layerGroup();

        // specify popup options
        var customOptions =
            {
                'maxWidth': '400',
                'width': '200',
                'className': 'popupCustom'
            }

        {% for school in primary_school_list %}
            var lon = "{{ school.geometry.x }}";
            var lat = "{{ school.geometry.y }}";
            // create popup contents
            var customPopup = "<b>{{ school.name }}</b><br/><img src='http://netdna.webdesignerdepot.com/uploads/2014/05/workspace_06_previo.jpg' alt='maptime logo gif' width='150px'/>";

            // add a marker to markers
            var marker = L.marker([lat, lon]).bindPopup(customPopup, customOptions);
            markers.addLayer(marker);
        {% endfor %}

        //add markers group to map
        mymap.addLayer(markers);

        //alert mouse location on click
        mymap.addEventListener('', function (ev) {
            var lat, lng;
            lat = ev.latlng.lat;
            lng = ev.latlng.lng;
            alert(lat + ' - ' + lng);
            markers.clearLayers();
            marker = L.marker([lat, lng]);
            markers.addLayer(marker);
        });

    </script>
{% endblock %}